<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <link rel="stylesheet" type="text/css" href="layout.css" />
    <meta charset="UTF-8" />
  </head>
  <header>
    <!-- <img src="mosano_white1.svg" alt="Mosano Logo" /> */ -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li>
          <a href="../pages/homepage.js" id="homepage">Home</a>
        </li>
        <li><a href="../pages/how.js" id="how">How</a></li>
        <li><a href="../pages/what.js" id="what">What</a></li>
        <li><a href="../pages/who.js" id="who">Who</a></li>
        <li><a href="../pages/contact.js" id="contact">Contact</a></li>
        <li><a href="../pages/joinUs.js" id="joinUs">Join Us</a></li>
        <li>
          <select onchange="setLanguageVariables(this.value)">
            <option value="eng" href="#eng" data-reload selected
              >English</option
            >
            <option value="pt" href="#pt" data-reload>Portugues</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <a class="fix-me button" href=""><img src="img/up-arrow.png"/></a>
  </body>

  <script>
    //translations
    var language = {
      pt: {
        homepage: 'Início',
        how: 'Como',
        what: 'O quê',
        who: 'Quem',
        contact: 'Contactos',
        joinUs: 'Junta-te à Equipa',
      },
      eng: {
        homepage: 'Home',
        how: 'How',
        what: 'What',
        who: 'Who',
        contact: 'Contact',
        joinUs: 'Join Us',
      },
    }

    function setLanguageVariables(lang) {
      homepage.textContent = language[lang].homepage
      how.textContent = language[lang].how
      what.textContent = language[lang].what
      who.textContent = language[lang].who
      contact.textContent = language[lang].contact
      joinUs.textContent = language[lang].joinUs
    }

    //define language via window hash
    if (window.location.hash) {
      if (window.location.hash === '#pt') {
        setLanguageVariables('pt')
      } else {
        setLanguageVariables('eng')
      }
    }
  </script>
</html>
